@media (max-width: 480px) {
    body {
        background: url(we-fon-smalll.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .wrapper__text__h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-left: 0;
    }
    .wrapper__text {
        width: 100%;
        font-size: 1rem;
    }
    .wrapper__img {
        width: 10%;
    }

    .conteiner {
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .instructor {
        width: 100%;
        align-content: center;
    }
    .instructor img {
        width: 90%;
        padding: 1rem 1.3rem;
        align-self: center;

    }
}